body {
  background-image: url("https://wallpapercave.com/wp/wp2013166.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

header {
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

nav ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  text-align: center;
  display: inline-block;
  margin-right: 20px;
}

#menu-button {
  background-color: #CD853F;
  border: 5px solid #A0522D;
  border-radius: 12px;
  color: #231709;
  display: inline-block;
  font-size: 20px;
  padding: 5px 10px;
  transition: 0.5s;
}
#menu-button:hover {
  background-color: #CD853F;
  border: 5px solid #A0522D;
  border-radius: 12px;
  color: #8B4513;
  transition: 0.5s;
}



#order-button {
  background-color: #CD853F;
  border: 5px solid #A0522D;
  border-radius: 12px;
  color: #231709;
  display: inline-block;
  font-size: 20px;
  padding: 5px 10px;
  transition: 0.5s;
}
#order-button:hover {
  background-color: #CD853F;
  border: 5px solid #A0522D;
  border-radius: 12px;
  color: #8B4513;
  transition: 0.5s;
}


#review-button {
  background-color: #CD853F;
  border: 5px solid #A0522D;
  border-radius: 12px;
  color: #231709;
  display: inline-block;
  font-size: 20px;
  padding: 5px 10px;
  transition: 0.5s;
}
#review-button:hover {
  background-color: #CD853F;
  border: 5px solid #A0522D;
  border-radius: 12px;
  color: #8B4513;
  transition: 0.5s;
}


#about-button {
  background-color: #CD853F;
  border: 5px solid #A0522D;
  border-radius: 12px;
  color: #231709;
  display: inline-block;
  font-size: 20px;
  padding: 5px 10px;
  transition: 0.5s;
}
#about-button:hover {
  background-color: #CD853F;
  border: 5px solid #A0522D;
  border-radius: 12px;
  color: #8B4513;
  transition: 0.5s;
}


#contact-button {
  background-color: #CD853F;
  border: 5px solid #A0522D;
  border-radius: 12px;
  color: #231709;
  display: inline-block;
  font-size: 20px;
  padding: 5px 10px;
  transition: 0.5s;
}
#contact-button:hover {
  background-color: #CD853F;
  border: 5px solid #A0522D;
  border-radius: 12px;
  color: #8B4513;
  transition: 0.5s;
}



 nav a {
 
]
